body {
  /* background-color: #030ffc; */
  padding: 20px;
  margin: 0;
  /* background-image: url("https://images.unsplash.com/photo-1528819027803-5473f2bf7633?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"); */
  background-color: black
}
h2 {
  font-family: sans-serif;
  color: white;
}

h3 {
  color: white;
}

p {
  font-family: sans-serif;
  color: white;
  font-size: 30
}


ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: white;
  margin: 20px;
}
ul.header li a {
  color: #08088A;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

ul.card li {
  margin: 0;
  color: white;
}

input{
  padding: 2%;
  display: block;
  margin: 0 auto;
  width: 325px;
  height: 1px
}

textarea{
  padding: 2%;
  display: block;
  margin: 0 auto;
  width: 327px;
  height: 200px
}

.button {
  display: inline-block;
  padding: 1px 5px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #53EEF6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display: table-cell;
  vertical-align: bottom;
  width: 100px;
  margin: -20px -50px;
  position:relative;
  left:44%;
}

.button:hover {background-color: #0B1359}

.button:active {
  background-color: #0B1359;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h2.header{
  text-align: center;
  color: white;
  font-size: 20px;
}

.transparent div{
  background-color: transparent;
}

div.container{
    position: relative;
    display: flex;
    justify-content: center;
}

a {
  color: white;
  font-style: bold;
  font-size: 24px
}
